[submodule "zncc"]
	path = zncc
	url = https://github.com/theunafraid/zncc.git
[submodule "sndfile-tools"]
	path = sndfile-tools
	url = https://github.com/theunafraid/sndfile-tools.git
[submodule "ring-span-line"]
	path = ring-span-line
	url = https://github.com/theunafraid/ring-span-lite.git
[submodule "libsoundio"]
	path = libsoundio
	url = https://github.com/andrewrk/libsoundio.git
